# This is Git's per-user configuration file.
[user]
	name = Alex Bussey
	email = abussey@jwplayer.com
[core]
	excludesfile = /Users/alexbussey/.gitignore_global
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
